#(project
  (#(meta
     (#(name lupyter)
      #(description "LFE kernel for Jupyter (IPython)")
      #(version "0.1.0")
      #(keywords ("LFE" "Lisp" "Library" "Python" "Client"
                  "Kernel" "IPython" "Jupyter" "Python"
                  "Scientific Computing"))
      #(maintainers
        ((#(name "Duncan McGreggor") #(email "oubiwann@gmail.com"))))
      #(repos
        (#(github "oubiwann/lupyter")))))
   #(app
     (#(mod #(lupyter ()))))
   #(deps (#("rvirding/lfe" "develop")))))

